<!-- main app container -->
<div class="main-content-wrapper">
    <div class="login-register-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="login-reg-box p-4 bg--2">
              <h2 style="text-align: center;" class=" heading-secondary mb--30">Register</h2>
              <form >
                <div class="form__group mb--20" >
                    <label class="form__label" for="FullName">FullName <span>*</span></label>
                    <input type="text"  name="fullName" id="fullName" class="form-control form__input form__input--2"
                      [(ngModel)]="acc.fullName" />
                    
                </div>
                
                <div class=" form__group mb--20" >
                  <label class="form__label" for="username">Username <span>*</span></label>
                  <input type="text"  name="userName" id="userName" class="form-control form__input form__input--2"
                   [(ngModel)]="acc.userName" />
                  
                </div>              
                <div class=" form__group mb--20">
                  <label class="form__label" for="password">Password <span>*</span></label>
                  <input type="password"  name="passWord" id="passWord" class="form-control form__input form__input--2"
                    [(ngModel)]="acc.passWord"/>
                  
                </div>
               

                <div class=" form__group mb--20" >
                    <label class="form__label" for="email">Email <span>*</span></label>
                    <input type="email"  name="email" id="email" class="form-control form__input form__input--2"
                       [(ngModel)]="acc.email"/>
                    
                  </div>

                <div class=" form__group mb--20" >
                    <label class="form__label" for="Birthday">Birthday <span>*</span></label>
                    <input type="date"  name="birthday" id="birthday" class="form-control form__input form__input--2"
                       [(ngModel)]="acc.birthday"/>
                   
                  </div>
                  
                  <div class=" form__group mb--20" >
                    <label class="form__label" for="Address">Address <span>*</span></label>
                    <input type="text"  name="address" id="address" class="form-control form__input form__input--2"
                       [(ngModel)]="acc.address" />
                    
                  </div>
                  <div class=" form__group mb--20" >
                    <label class="form__label" for="phone">Phone <span>*</span></label>
                    <input type="number"  name="telephone" id="telephone" class="form-control form__input form__input--2"
                     [(ngModel)]="acc.telephone" />
                   
                  </div>
                
                <div class="">
                  <button type="button" (click)="onSubmit()"  class="btn btn-5 btn-style-1 color-1"  class="btn btn-primary">Register</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a routerLink="../login" class="btn btn-primary">Back</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- credits -->